@model test2.Models.Mal.anime

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index"))
{
    @Html.TextBox("res")
    <input type="submit" value="Search" />
}
<link rel="stylesheet" type="text/css" href="~/animecss.css">

<body>
    <table align="center" border="1" width="700" id="tab" class="tab">
        <tr>



            <td align="center">
                <h1>@Model.entry[0].title</h1>
            </td>
        </tr>
        <tr>
            <td>
                <img src="@Model.entry[0].image " alt="banner" sizes="100%" />
            </td>
        </tr>
        <tr>
            <td>
                <p>@Model.entry[0].synopsis</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Type: @Model.entry[0].type</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Episodes: @Model.entry[0].episodes</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>status: @Model.entry[0].status</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>score: @Model.entry[0].score</p>
            </td>
        </tr>
        
        <tr>
            <td>
                <p>Start Date: @Model.entry[0].start_date</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>End Date: @Model.entry[0].end_date</p>
            </td>

        </tr>
        <tr>
            <td>
                <p>End Date: @Model.entry[0].synonyms</p>
            </td>

        </tr>
    
    </table>


</body>